
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f6f9;
color:#333;
}

header{
background:#0b1f3a;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:28px;
font-weight:700;
}

.logo span{
color:#00d084;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#00d084;
}

.hero{
background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
url("../images/banner.jpg");
background-size:cover;
background-position:center;
}
.hero h1{
font-size:52px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:700px;
margin:auto;
margin-bottom:30px;
}

.btn{
display:inline-block;
background:#00d084;
color:white;
padding:14px 35px;
border-radius:40px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.btn:hover{
background:#009966;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:60px 8%;
}

.feature{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.feature i{
font-size:45px;
color:#00d084;
margin-bottom:15px;
}

.products{
padding:70px 8%;
}

.products h2{
text-align:center;
margin-bottom:40px;
font-size:36px;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
gap:30px;
}

.product-card{
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 8px 20px rgba(0,0,0,.08);
transition:.3s;
}

.product-card:hover{
transform:translateY(-8px);
}

.product-card img{
width:100%;
height:220px;
object-fit:cover;
}

.product-card h3{
padding:15px;
font-size:22px;
}

.product-card p{
padding:0 15px;
margin-bottom:15px;
}

.product-card h2{
padding:0 15px;
color:#00a651;
font-size:26px;
}

.product-card button{
width:90
.logo-img{
height:55px;
width:auto;
display:block;
}
.logo-img{
    height:55px;
    width:auto;
}
